<%= render 'public/searches/searche', muscles: @muscles, user: @user %>


  <h1>User info</h1>
    <% if @user.present? %>
      <%= image_tag @user.get_profile_image(100, 100) %>
      <hr>
        <p>name: <%= @user.name %></p>
      <% if @user.introduction.present? %>
      <hr>
        <p>introduction: <%= @user.introduction %></p>
      <% else %>
        <p>introduction: 自己紹介文はありません</p>
      <% end %>
      <% else %>
        <p>ユーザー情報が見つかりません</p>
    <% end %>

    <table>
      <tr>
      <th>follows</th>
        <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
      </tr>
      <tr>
        <th>followers</th>
        <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
      </tr>
    </table>

    <%= link_to liked_posts_public_user_path(current_user), data: { "turbolinks" => false } do %><i class="fas fa-thumbs-up"></i>いいねした投稿<% end %>

    <% if current_user == user %>
      <div class="row">
        <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-cog"></i> 
        <% end %>
      </div>
    <% end %>
  
  
  <% @newbook ||= Muscle.new %>
<h1>New post</h1>
    <%= form_for @newbook, html: { class: "form" } do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body, class: "form-control" %>
  </div>
  <div class="row ml-5">
    <%= f.submit 'Create Post', class: "btn btn-primary" %>
  </div>
  <% end %>
</div>