<body style="background-image: url('<%= asset_path('sport-908264_640.jpg') %>'); no-repeat center center; background-size: cover; background-color: rgba(255, 255, 255, 0.5);">
  <% if notice %>
    <div class="alert alert-success bg-white">
      <%= notice %>
    </div>
  <% end %>

  <div class="container mt-4" style="background-color: rgba(255,255,255,0.7); padding: 20px; border-radius: 10px;">
    <div class="row">
      <div class="col-md-3 mt-4">
        <%= render 'public/searches/search', users: @users, muscles: @muscles, range: @range %>
        <%= render 'public/muscles/muscle', muscles: @muscles, user: @user %>
      </div>

      <div class="col-md-8 offset-md-1 mt-4">
        <h1>Post detail</h1>

        <div class="card mb-4 shadow-sm border-0">
          <div class="card-body">
            <!-- ユーザー情報 -->
            <h5 class="card-title">
              <small class="text-secondary">👤 ユーザー名</small><br>
              <%= link_to user_path(@muscle.user) do %>
                <div class="d-flex align-items-center">
                  <%= image_tag @muscle.user.get_profile_image(100, 100), class: "rounded-circle me-2" %>
                  <span><%= @muscle.user.name %></span>
                </div>
              <% end %>
            </h5>

            <!-- 投稿タイトル -->
            <h5 class="card-title mt-3">
              <small class="text-secondary">📝 タイトル</small><br>
              <%= link_to @muscle.title, muscle_path(@muscle), class: 'text-decoration-none text-primary' %>
            </h5>

            <!-- 投稿内容 -->
            <p class="card-text mt-2">
              <small class="text-secondary">📄 投稿</small><br>
              <%= @muscle.body %>
            </p>

            <!-- 添付画像の表示 -->
            <% if @muscle.images.attached? %>
              <div class="mb-3">
                  <small class="text-secondary d-block mb-2">🖼️ 画像</small>
                <div class="text-center">
                  <% @muscle.images.each do |file| %>
                    <% if file.content_type.start_with?('image') %>
                      <%= image_tag file.variant(resize_to_limit: [200, 200]),
                        class: "img-thumbnail mx-auto d-block mb-2",
                        style: "max-height: 150px; cursor: pointer;",
                        data: { bs_toggle: "modal", bs_target: "#mediaModal", media_type: "image", src: url_for(file) } %>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>

            <!-- 添付動画の表示 -->
            <% if @muscle.videos.attached? %>
              <div class="mb-3">
                  <small class="text-secondary d-block mb-2">🎥 動画</small>
                <div class="text-center">
                  <% @muscle.videos.each do |video| %>
                    <video width="200" class="rounded mx-auto d-block mb-2"
                      style="max-height: 150px; cursor: pointer;"
                      data-bs-toggle="modal" data-bs-target="#mediaModal"
                      data-media-type="video" data-src="<%= url_for(video) %>" data-content-type="<%= video.content_type %>">
                      <source src="<%= url_for(video) %>" type="<%= video.content_type %>">
                    </video>
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>
        </div>

        <h3>Comments</h3>
        <div class="card mb-4 shadow-sm border-0">
          <div class="card-body">
            <table class="table">
              <tbody>
                <% @post_comments.each do |post_comment| %>
                  <tr>
                    <td><%= image_tag post_comment.user.get_profile_image(50, 50), class: "rounded-circle me-2" %></td>
                    <td><%= post_comment.user.name %></td>
                    <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                    <td><%= post_comment.comment %></td>
                    <td>
                      <% if post_comment.user == current_user %>
                        <%= button_to 'Delete', muscle_post_comment_path(@muscle, post_comment), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-danger' %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="d-flex justify-content-center">
              <%= paginate @post_comments %>
            </div>
          </div>
        </div>

        <div class="card mb-4 shadow-sm border-0">
          <div class="card-body">

            <% if @post_comment.errors.any? %>
              <div class="alert alert-danger">
                <ul>
                  <% @post_comment.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <%= form_with model: [@muscle, @post_comment] do |f| %>
              <div class="form-group row">
                <%= f.text_area :comment, rows: '2', placeholder: "Comment here", class: "form-control" %>
              </div>
              <div class="form-group row mt-2">
                <%= f.submit "Send", class: "btn btn-primary" %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="card mb-4 shadow-sm border-0">
          <div class="card-body">
            <h5>
              <small class="text-secondary">👍 いいね</small><br>
              <% if @muscle.favorited_by?(current_user) %>
                <%= link_to muscle_favorites_path(@muscle), method: :delete do %>
                  ♥<%= @muscle.favorites.count %> いいね
                <% end %>
              <% else %>
                <%= link_to muscle_favorites_path(@muscle), method: :post do %>
                  ♡<%= @muscle.favorites.count %> いいね
                <% end %>
              <% end %>
            </h5>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

  <!-- モーダル定義 -->
  <div class="modal fade" id="mediaModal" tabindex="-1" aria-labelledby="mediaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content bg-transparent border-0">
        <div class="d-flex justify-content-end pe-2 pt-2">
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body text-center p-0">
          <img id="modalImage" src="" class="img-fluid rounded d-none" />
          <video id="modalVideo" controls class="rounded d-none" style="max-width: 500px; width: 90vw; max-height: 400px;">
            <source id="modalVideoSource" src="" type="">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_tag do %>
    document.addEventListener('DOMContentLoaded', function () {
      const modal = document.getElementById('mediaModal');
      const modalImage = document.getElementById('modalImage');
      const modalVideo = document.getElementById('modalVideo');
      const modalVideoSource = document.getElementById('modalVideoSource');

      modal.addEventListener('show.bs.modal', function (event) {
        const trigger = event.relatedTarget;
        const mediaType = trigger.getAttribute('data-media-type');
        const src = trigger.getAttribute('data-src');

       modalImage.classList.add('d-none');
        modalVideo.classList.add('d-none');

        if (mediaType === 'image') {
          modalImage.src = src;
          modalImage.classList.remove('d-none');
        } else if (mediaType === 'video') {
          const contentType = trigger.getAttribute('data-content-type');
          modalVideoSource.src = src;
          modalVideoSource.type = contentType;
          modalVideo.load();
          modalVideo.classList.remove('d-none');
        }
      });

      modal.addEventListener('hide.bs.modal', function () {
        modalVideo.pause();
        modalVideoSource.src = '';
        modalVideo.load();
      });
    });
  <% end %>

</body>
