<div class="container">
  <div class="row">
  <div class="col-md-3">
  <%= render 'public/muscles/muscle', muscles: @muscles,user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">

    <h1>Users</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      <% @muscles.each do |muscle| %>
      <% # ログインしているユーザーも含めて表示（フォローボタンは非表示） %>
        <tr>
          <td><%= image_tag muscle.user.get_profile_image(100,100) %></td>
          <td><%= muscle.user.name %></td>
          <td>
            <%= link_to 'Show', user_path(muscle.user) %>
          </td>
          <td>
            <% unless muscle.user == current_user %>
            <%= render 'relationships/btn', user: muscle.user %>
            <% end %>
          </td>
        </tr>
      <% end %>
      </thead>
    </table>
  </div>
</div>
</div>
