<body style="background-image: url('<%= asset_path('sport-908264_640.jpg') %>'); no-repeat center center; background-size: cover; background-color: rgba(255,255,255,0.5);">
  <div class="container mt-4" style="background-color: rgba(255,255,255,0.7); padding: 20px; border-radius: 10px;">
    <div class="container">
      <table class="table">
        <thead>
          <tr>
            <th>User Name</th> <!-- ユーザー名を追加 -->
            <th>Title</th>
            <th>Body</th>
          </tr>
        </thead>
        <tbody>
          <% @liked_posts.each do |muscle| %>
            <tr>
              <td>
                <%= link_to image_tag(muscle.user.get_profile_image(100,100)), user_path(muscle.user) %>
                <%= link_to muscle.user.name, user_path(muscle.user) %>
              </td>
              <td><%= link_to muscle.title, muscle_path(muscle) %></td>
              <td><%= muscle.body %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
       <%= link_to 'Back', muscles_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</body>