<% if flash[:notice].present? %>
  <div class="alert alert-success bg-white">
    <%= flash[:notice] %>
  </div>
<% end %>


<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'public/muscles/muscle', muscles: @muscle, user: @user %>
    </div>

    <div class="col-md-8 offset-md-1">

    <h1>You Posts</h1>
    
    <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </tr>
    </thead>
    <tbody>
    <% @muscles.each do |muscle| %>
      <tr>
        <td>
          <%= link_to user_path(muscle.user) do %>
          <%= image_tag muscle.user.get_profile_image(100, 100) %>
          <% end %>
        </td>
        <td><%= link_to muscle.title, muscle_path(muscle) %></td>
        <td><%= muscle.body %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
</div>